.brands {
    padding: 5% 10%;
    background-color: #f7f7f7;
}

.brands img {
    max-width: 100px;
}

.brands h1 {
    /* color: #2D7DFD; */
    color: #3c3c3c;
    font-weight: 700;
}

@media (max-width: 768px) {
    .brands img {
        max-width: 80px;
    }
}

@media (max-width: 640px) {
    .brands img {
        max-width: 50px;
    }
}