table,
th,
td {
    border: 1px solid #2d7dfd;
}

table {
    width: 100%;
}

.manageCars {
    background-image: url('https://wallpaper.dog/large/20473355.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mngCarsBg {
    background-color: rgba(0, 5, 29, 0.594);
}